* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-container {
  background-color: #59b4cd;
  color: #fff;
  display: flex;
  padding: 13px 7px;
  font-size: 24px;
}

.Views {
  position: absolute;
  margin-left: 10rem;
  color: #f3f0f0;
}

.worldMap {
  width: 100%;
  height: 207px;
  background-image: url('./assets/worldMap.png');
  background-position: center;
  background-size: cover;
}

.searchBackground {
  width: 100%;
  height: 100%;
  background-color: #1b9fdcb8;
}

.search {
  width: 72%;
  margin: 11px 37px;
  padding: 12px;
  border-radius: 6px;
  border: none;
}

.searchHeading {
  color: #efe8e8;
  position: absolute;
  font-size: 26px;
  margin-left: 19rem;
  margin-top: 2rem;
}

.countryContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.card {
  width: 100%;
  padding: 25px;
  background-color: #69aead;
}

.card:nth-child(4n+1),
.card:nth-child(4n+4) {
  background-color: #459cadb8;
}

.navLink {
  text-decoration: none;
  color: #444;
}

.image {
  width: 165px;
  height: 107px;
  object-position: center;
  object-fit: cover;
}

.image img {
  width: 100%;
  height: 100%;
}

.countryHeadLineOne {
  margin-top: 12px;
  font-size: 23px;
  color: #fff;
}

.countryHeadlineTwo {
  color: #e7e2e2;
  font-size: 18px;
  margin-top: 7px;
}

.container {
  width: 100%;
  padding: 24px;
  background-color: #599eb5;
  height: 100vh;
}

.backBtn {
  margin-top: 16px;
  margin-left: 14px;
  width: 76px;
  height: 36px;
  background-color: #fff;
  border: none;
  border-radius: 3px;
}
